*, *::after, *::before{
    box-sizing: border-box;
}
body{
    background-color:black;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}
#game-board{
    background-color: #ccc;
    height: 100vmin;
    width: 100vmin;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
    
}
.snake{
 background-color: hsl(200, 100%, 50%);
 border: .02vmin solid black;
}
.food{
    background-color:hsl(50, 70%, 50%);
    border: .02vmin solid black;
    transition: 350ms ease-in;
}
.food:hover{
    transform: scale(1.3);
}